.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 12px;
    align-items: start;
}

.controls span {
    font-weight: bold;
}

.controls-lines {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.controls-side {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 14px 8px;
    align-items: center;
}

.controls-side .add-line {
    grid-column: 1 / -1;
    margin-top: 16px;
}

.add-line {
    width: fit-content;
    padding: 5px;
}

.color-picker {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-picker:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-input {
    border: 2px, black, solid;
    height: 26px;
    margin: 8px;
    padding: 6px;
    text-align: right;
}

.font-size {
    width: 70px;
}
